* {
	margin: 0;
	padding: 0;
}

footer {
	background-color: #515151;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 10px;
}

.socialmedia {
    width: 30px;
    margin:25px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    display: inline-block;
}

p {
	font-weight: 400;
	font-size: 3.1em;
	margin-bottom: 0%;
	padding: 0 5%;
	color: #3B4357;
	text-align: center;
	padding: 10%;
}
