{% extends "_layout" %}

{% block seo %}

<meta name="description" content="Read my blog to find out what programming books I like and my thoughts about web development.">
<meta name="keywords" content="Kelly Parks, web development, developer, blog, content, books, helpful tools, article">

{% endblock seo %}

{% block main %}
<h2>Blog Posts</h2>
<div class="blog-page-container">
<article class="active-blog">
	<h3><a href="">{{ entry.entryTitle }}</a></h3>
	<p>{{ entry.entrySubtitle }}</p>
	<time datetime="{{ entry.entryPublishedDate }}">{{ entry.entryPublishedDate | date('F j, Y') }}</time>
		{% for asset in entry.mainEntryImage %}
  		<img src="{{ asset.getUrl }}" alt="{{ asset.title }}" />
		{% endfor %}
		{{ entry.entryBody }}
</article>
<aside class="other-posts">
	<h3>Other Posts</h3>
	<ul>
		{% set allEntries = craft.entries.section('blog') %}

		{% for entry in allEntries %}

		{% for asset in entry.mainEntryImage %}

			<li><a href=" {{ entry.url }}"><img src="{{ asset.getUrl }}" alt="{{ asset.title }}"><div><h4>{{ entry.entryTitle }}</h4><time datetime="{{ entry.entryPublishedDate }}">{{ entry.entryPublishedDate | date('F j, Y') }}</time></div></a></li>

		{% endfor %}

        {% endfor %}
    </ul>
	</aside>
</div>
{% endblock %}
