{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block seo %}

<meta name="description" content="I'm Kelly Parks, a web developer student at SAIT, and this is my personal site.">
<meta name="keywords" content="Kelly Parks, web development, developer, portfolio, website, home">

{% endblock seo %}

{% block main %}

<section class="recent-projects">
  <h2>Recent Projects</h2>
  <p>{{ entry.workintroduction }}</p>
  <div class="featured-projects-container">
    {% for entry in craft.entries.section('projects').limit(3) %}
    <article>
      <h3><a href="{{ entry.headingLink }}">{{ entry.projectTitle }}</a></h3>
      <div class="project-image-container">
        <a class="image" href="{{ entry.projectLink }}" target="_blank">
          {% for asset in entry.projectMainImage %}
            <img src="{{ asset.getURL }}" alt="{{ asset.title }}">
          {% endfor %}
        </a>
      </div>
        <p>{{ entry.projectDescription }}</p>
      </article>
  {% endfor %}
</section>
<section class="main-blog">
    <h2>Recent Post</h2>
    <div class="recent-posts-container">
      {% set latestBlogEntry = craft.entries.section('blog').limit(1) %}
      {% if latestBlogEntry|length %}
      {% for entry in latestBlogEntry %}
      <h3>{{ entry.entryTitle }}</h3>
      <time datetime="2016-01">{{ entry.entryPublishedDate | date('F j, Y') }}</time>
      {% for asset in entry.mainEntryImage %}
      <img src="{{ asset.getUrl }}" alt="{{ asset.title }}">
      {% endfor %}
      <p>{{ entry.entryBody|hacksaw(cutoff='</p>', allow='<strong><em><a>') }}</p>
      <a href="{{ entry.url }}" id="archiveButton">Continue Reading</a>
      {% endfor %}
      {% endif %}
    </div>
</section>

{% endblock main %}
